---
---
<nav class="flex flex-row justify-between mt-5 mx-5">
    <p>Københavnerbilleder </p>
    <ul class="flex flex-row space-x-6">
        <li>Bogens indhold</li>
        <li>Forfatteren</li>
        <li>Køb nu</li>
    </ul>
</nav>
